@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #2E2C2F; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #2B2D42; }

::-moz-selection {
  background: #729B79;
  color: #FFFFFF; }

::selection {
  background: #729B79;
  color: #FFFFFF; }

.jumbotron {
  background-color: #2E2C2F; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #2E2C2F; }

pre {
  background: rgba(234, 242, 230, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #EAF2E6; }

#content code {
  color: #475B63;
  background-color: #EAF2E6; }

#sidebar-wrapper {
  background: #2E2C2F; }

#page-content-wrapper .nav a {
  color: #475B63; }
  #page-content-wrapper .nav a:hover {
    color: #646767; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #2B2D42; }
.sidebar-nav > li a.active {
  border-left: 3px solid #729B79;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #2B2D42; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #2B2D42; }
