*.class
*.log
.idea
*.iml
pom.xml.versionsBackup

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/credentials.sbt
credentials.sbt
test-output/

esdata

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.settings

# Sublime Text specific
*.sublime-project
*.sublime-workspace

# Generated via microsite
/docs/src/main/tut/index.md
